<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="Heading">
      Our Services
    </ion-row>
    <ion-row class="SubHeading">
      We offer a wide array of services for individuals, businesses and nonprofits. Whether you need assistance related
      to tax filing, bookkeeping or any other financial matter, we would love to help. Scroll down to learn more about
      what we offer.
    </ion-row>
    <!-- <ion-row class="CardHeadingGrey">Auditing</ion-row>
    <ion-row class="CardBodyGrey">
      <ion-col sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
        <ul>
          <li>Statutory Auditing</li>
          <li>Forensic Auditing</li>
          <li>Due Diligence reviews</li>
        </ul>
      </ion-col>
      <ion-col sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
        <ion-row>Core Consultants' services include performing audits of company financial statements, trust accounts,
          other records as well as statutory and forensic audits. We have extensive experience in private sector
          auditing.</ion-row>
        <ion-row>The firm`s audits include evaluating the appropriateness of accounting policies, assessing the
          reasonableness of significant estimates and considering the fairness of financial statement`s overall
          presentation and financial position.</ion-row>
      </ion-col>
    </ion-row> -->
    <ion-row class="CardHeadingGrey">Accounting</ion-row>
    <ion-row class="CardBodyGrey">
      <ion-row>The firm specialises in reconciliation of general ledgers, creditors, debtors, fixed asset registers and
        compiling Annual Financial Statements. These accounting functions can be performed for any type of business,
        whether it is a sole trader, partnership, limited company or any other.

        Where the client prefers to carry out their own accounting services, we can facilitate the set-up, maintenance
        and interpretation of any system utilised to execute proper accounting. 
      </ion-row>
      <ion-row class="paddingTop">Other accounting services include:

        Preparation of financial reports for the Boards of Directors, Management and Statutory Bodies;

        Preparation of Cash Flow Statements, financial information on banks and other financial institutions;

        Maintenance and evaluation of accounting records, related systems, recommendations and improvements;
      </ion-row>
      <ion-row>Administration of clients monthly payroll, which may include:</ion-row>
      <ion-row class="fullWidth">
        <ul>
          <li>Calculation of monthly salaries;          </li>
          <li>Supply of monthly payslips;          </li>
          <li>Operating a designated bank account on the client`s behalf.          </li>
        </ul>
      </ion-row>
    </ion-row>
    <ion-row class="CardHeadingBlue">Management Consulting and Business Structuring</ion-row>
    <ion-row class="CardBodyBlue">
      <ul>
        <li>Assisting in the interpretation of financial statements</li>
        <li>Conducting financial investigation into low level return on investments, high overhead costs, abnormally
          high stock level and suspected fraud;</li>
        <li>Remuneration packages and profit sharing schemes</li>
        <li>Valuation of business interests and entities</li>
        <li>Business and Personnel structuring</li>
        <li>Appropriate business entities and formats</li>
        <li>Financial and management opportunities</li>
        <li>Business year-ends</li>
        <li>Guidance on the distinction between tax deductible and non-deductible expenses, capital, or income related
          expenditure and revenues</li>
        <li>Advice on financial methods that are most suitable, efficient and cost-effective for a business</li>
      </ul>
    </ion-row>
    <ion-row class="CardHeadingGrey">Cash Flow and Budgetary Planning</ion-row>
    <ion-row class="CardBodyGrey">
      Core Consultants covers the complete process of determining the income and expenditure of the organisation for the
      period under consideration and the subsequent control and monitoring of actual and forecast progress against the
      authorised budget.
    </ion-row>
    <ion-row class="CardHeadingBlue">Tax Services</ion-row>
    <ion-row class="CardBodyBlue">
      <ion-col sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
        <ul class="Box">
          <li>Corporate Taxation</li>
          <li>Personal Taxation</li>
        </ul>
      </ion-col>
      <ion-col sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
        <ion-row>
          Corporation tax represents a substantial part of your trading costs and time. Core Consultants assists
          clients to minimise their corporate tax exposure and relieve them of the administrative burden of complying
          with legislation. We do this by:

          <ul>
            <li>Taking full advantage of opportunities</li>
            <li>Achieving the optimum capital or reserve tax treatment</li>
            <li>Reducing tax on disposables and maximising relief situations on acquisitions</li>
            <li>Making the most of tax opportunities specific to your industry</li>
            <li>Meeting the rigorous demands of compliance including corporation tax self-assessment</li>
            <li>Acting on your behalf in discussions with the tax authorities</li>
          </ul>
        </ion-row>
        <ion-row>Our personal tax services include:
          <ul>
            <li>Calculating your tax liability</li>
            <li>Completing and filing your tax return on your behalf</li>
            <li>Advising you when various payments are due and how much to pay</li>
          </ul>
        </ion-row>
        <ion-row>Taxation planning and administration

          This service includes tax services for all types of companies, individuals and also:
          <ul>
            <li>Tax compliance for corporate (companies, close corporations, SME`s and other companies), trusts (inter
              vivo testamentary) and individuals; </li>
            <li>Completion and lodging of personal and corporate tax returns; </li>
            <li>Preparation of VAT returns from accounting records and lodging; </li>
            <li>Registration as an employer, registration for provisional tax, income tax, workmen`s compensation,
              regional services council, VAT, UIF, SDL and PAYE; </li>
            <li>Implications of income tax and legislation including capital gains tax legislation; </li>
            <li>Value-added tax, company duty, estate duty, donations tax </li>
            <li>Employee`s tax and taxation of fringe benefits. </li>
          </ul>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="CardHeadingGrey">Business Evaluations</ion-row>
    <ion-row class="CardBodyGrey">
      With our business evaluation services and consultations we assist business owners and managers in the objective
      analysis, closer-view or real financial strength and wealth/assets of their business, telling more of a story
      about the economic situation than a quick-glance at the financial reporting, dashboard financials or annual
      reports like most other auditing companies do.
    </ion-row>
    <ion-row class="CardHeadingBlue">Company Secretarial Services</ion-row>
    <ion-row class="CardBodyBlue">
      <ion-col sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
        <ul class="Box">
          <li>Estate Planning</li>
          <li>Company Formations</li>
        </ul>
      </ion-col>
      <ion-col sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
        <ion-row>
          <ul>
            <li>Estate planning and administration of deceased estates </li>
            <li>Tax efficient estate planning </li>
            <li>Close corporation and company formations </li>
            <li>Maintenance of statutory books, specifically maintaining the following registers and minute books in an
              up-to-date condition:</li>
            <ul>
              <li>Register of members; </li>
              <li>Register of debenture holders; </li>
              <li>Register of directors and officers; </li>
              <li>Minute books of the proceedings of general and board meetings; </li>
              <li>Preparation of AGM minutes </li>
              <li>Preparation of Director`s minutes </li>
              <li>Registration of all directors` and members` appointments and resignations </li>
              <li>Registration of all directors` and members` appointments and resignations; </li>
              <li>Deeds office search facilities; </li>
              <li>Increase of Authorised Share Capital; </li>
              <li>Change of company name, articles, and memorandum; </li>
              <li>Special resolutions; </li>
              <li>Supply of “shell” companies or close corporations </li>
              <li>Formation of new companies or close corporations and trusts. </li>
            </ul>
          </ul>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<head>
  <title>Our Services</title>
  <meta name="description" content="The Services On offer. Accounting. Management Consulting and Business Structuring. Cash Flow and Budgetary Planning. Tax Services. Business Evaluations. Company Secretarial Services.">
</head>