<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row class="Heading">
    About Us
  </ion-row>
  <ion-row class="SubHeading">
    Core Consultants Inc. was founded on core ethics, integrity, innovation and accountability; by following these principles, our experienced team strives to deliver top-tier services.
  </ion-row>
  <ion-row>
    <ion-col class="Card" sizeXl="5" sizeLg="12" sizeMd="12" sizeXs="12">
      <ion-row><ion-icon name="thumbs-up-sharp"></ion-icon></ion-row>
      <ion-row>Our consultants are guided by core ethical principles that speak to the importance of providing accurate and unbiased information.</ion-row>
    </ion-col>
    <ion-col class="Card" sizeXl="5" sizeLg="12" sizeMd="12" sizeXs="12">
      <ion-row><ion-icon name="diamond-sharp"></ion-icon></ion-row>
      <ion-row>Core Consultants Inc. perform services with  integrity and with a consistent and uncompromising adherence to our core principles.</ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="Card" sizeXl="5" sizeLg="12" sizeMd="12" sizeXs="12">
      <ion-row><ion-icon name="bulb-sharp"></ion-icon></ion-row>
      <ion-row>Core Consultants Inc. harnesses innovation to continuously keep pace with the changing business environment.</ion-row>
    </ion-col>
    <ion-col class="Card" sizeXl="5" sizeLg="12" sizeMd="12" sizeXs="12">
      <ion-row><ion-icon name="clipboard"></ion-icon></ion-row>
      <ion-row>Our services are governed by accountability to ensure honest and ethical conduct throughout.</ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<head>
  <title>About Us</title>
  <meta name="description" content="Core Consultants Inc. was founded on core ethics, integrity, innovation and accountability; by following these principles, our experienced team strives to deliver top-tier services.">
</head>
