<ion-header collapse="condense">
  <ion-grid>
    <ion-row>
      <ion-img #CoreLogo src="../../assets/icon/Logo.webp" [ngClass]="{'spin-animation': spin}"></ion-img>
    </ion-row>
    <ion-row>
      <ion-img #CoreTitle src="../../assets/CoreConsultant.webp"></ion-img>
    </ion-row>
    <ion-row>
      <ion-img #CoreSubTitle src="../../assets/SubTitle.webp"></ion-img>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="Home" href="/tabs/Home">
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="LatestNews" href="/tabs/LatestNews">
        <ion-label>Latest News</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="AboutUs" href="/tabs/AboutUs">
        <ion-label>About Us</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="OurTeam" href="/tabs/OurTeam">
        <ion-label>Our Team</ion-label>
      </ion-tab-button> -->

      <ion-tab-button tab="OurService" href="/tabs/OurService">
        <ion-label>Our Service</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ContactUs" href="/tabs/ContactUs">
        <ion-label>Contact Us</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

<ion-footer>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <ion-img class="CoreFooter" src="../../assets/OURTEAM.webp"></ion-img>
    <a href="https://www.facebook.com/profile.php?id=61566924942801&mibextid=LQQJ4d" target="_blank" 
       style="margin-right: 10px; display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; background-color: white; border-radius: 50%; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);">
      <ion-icon name="logo-facebook" style="font-size: 24px; color: #4267B2;"></ion-icon>
    </a>
  </div>
</ion-footer>

<head>
  <title>Tabs page, acting aspage for core consultants</title>
  <meta name="description" content="Core Consultants Inc. was founded on core ethics, integrity, innovation and accountability; by following these principles, our experienced team strives to deliver top-tier services.">
</head>
