<ion-header collapse="condense">
  <ion-grid>
    <ion-row>
      <ion-img #CoreLogo src="../../assets/icon/Logo.webp"></ion-img>
    </ion-row>
    <ion-row>
      <ion-img #CoreTitle src="../../assets/CoreConsultant.webp"></ion-img>
    </ion-row>
    <ion-row>
      <ion-img #CoreSubTitle src="../../assets/SubTitle.webp"></ion-img>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="Home" href="/tabs/Home">
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="AboutUs" href="/tabs/AboutUs">
        <ion-label>About Us</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="OurTeam" href="/tabs/OurTeam">
        <ion-label>Our Team</ion-label>
      </ion-tab-button> -->

      <ion-tab-button tab="OurService" href="/tabs/OurService">
        <ion-label>Our Service</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ContactUs" href="/tabs/ContactUs">
        <ion-label>Contact Us</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

<ion-footer>
  <ion-img class="CoreFooter" src="../../assets/OURTEAM.webp"></ion-img>
</ion-footer>

<head>
  <title>Tabs page, acting aspage for core consultants</title>
  <meta name="description" content="Core Consultants Inc. was founded on core ethics, integrity, innovation and accountability; by following these principles, our experienced team strives to deliver top-tier services.">
</head>
