capacitor-google-map {
    display: inline-block;
    width: 275px;
    height: 400px;
}

ion-row {
  &.Heading{
    justify-content: center;
    align-Content:center;
      color: #1C76A4;
      font-weight: bold;
      font-size: 42px;
      margin-top: 3vh;
      margin-bottom: 3vh;
      margin-left: 3vw;
      margin-right: 3vw;
  }

  &.fullWidtth{
    width: 100%;
  }
}

ion-input,ion-label,ion-col,ion-item,ion-textarea{
  color: #333 !important; 
  background-color: white;
}

ion-card-header{
  border-bottom: solid 1px whitesmoke;
}

ion-card-title{
  color: #1C76A4;
}

ion-item {
  --background: white; 
  width: 300px;
  color: #1C76A4;
  align-items: end;
}

ion-button {
  --background: #1C76A4;
}

ion-card{
  background-color:white;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: fit-content;
  color: white;
}

ion-col {
  display: flex;
    justify-content: center;
    align-content: center;
}

ion-label{
  margin-left: 40px;
  border: none;
}

.email-from ion-label{
  color: #333 !important;
  height: 55px;
}

ion-item{
  border-bottom: none;
  min-height: fit-content;
}

ion-icon {
  color: #1C76A4;
  font-weight: bold;
  font-size: 60px;
  padding: 20px;
  margin-right: 40px;
  margin-top: 4px;
}

ion-list{
  --ion-item-background:  transparent;
}

ion-button {
  padding-top: 3vh;
  --background: #4b535d;
}

@media (max-width: 1199px) { }