<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="Heading">Contact Us</ion-row>
    <ion-row>
      <ion-col class="GoogleMaps" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
        <capacitor-google-map #CoreConsultMap class="CoreConsultMap"></capacitor-google-map>
      </ion-col>
      <ion-col sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
        <ion-row>
          <ion-col sizeXl="2" sizeLg="5" sizeMd="5" sizeXs="5">
            <ion-icon name="location-sharp"></ion-icon>
          </ion-col>
          <ion-col class="Card" sizeXl="10" sizeLg="7" sizeMd="7" sizeXs="7">
            5th Floor<br>
            Bloukrans Building<br>
            Lynnwood Bridge Office Park<br>
            Hilden Rd<br>
            Lynnwood Manor<br>
            Pretoria<br>
            0081
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXl="2" sizeLg="5" sizeMd="5" sizeXs="5">
            <ion-icon name="mail-unread-sharp"></ion-icon>
          </ion-col>
          <ion-col class="Card" sizeXl="10" sizeLg="7" sizeMd="7" sizeXs="7">gerrit&#64;core.net.za</ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXl="2" sizeLg="5" sizeMd="5" sizeXs="5">
            <ion-icon name="call-sharp"></ion-icon>
          </ion-col>
          <ion-col class="Card" sizeXl="10" sizeLg="7" sizeMd="7" sizeXs="7">
            012 007 2527<br>
            083 269 0866
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<head>
  <title>Contact Us</title>
  <meta name="description" content="core.net.za. 012 007 2527. 083 269 0866.">
</head>