<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="Heading">Our Team</ion-row>
    <ion-row>
      <ion-col class="SubHeading" sizeXl="5" sizeLg="12" sizeMd="12" sizeXs="12">
        Our hardworking team of credentialed professionals is dedicated to giving our clients individualized attention and excellent service. Schedule a consultation today to discover the benefits of working with Core Consultants Inc.
      </ion-col>
      <ion-col sizeXl="5" sizeLg="12" sizeMd="12" sizeXs="12">
        <ion-row><ion-icon name="person-circle-sharp"></ion-icon></ion-row>
        <ion-row class="SubTitle">Gerrit Weideman</ion-row>
        <ion-row class="SubTitle">gerrit&#64;core.net.za</ion-row>            
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Add meta tags in index.html -->
<head>
  <title>Our Team</title>
  <meta name="description" content="Our hardworking team of credentialed professionals is dedicated to giving our clients individualized attention and excellent service. Schedule a consultation today to discover the benefits of working with Core Consultants Inc.">
</head>
