<ion-content >
  <ion-row>
  <ion-col sizeXl="8" sizeLg="12" sizeMd="12" sizeXs="12">
  <swiper-container [loop]="true" [autoplay]="true" [pagination]="{clickable:true, dynamicBullets:true}" [navigation]="true">
    <swiper-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="Heading" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            About Us
          </ion-col>
          <ion-col class="Description" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            <ion-row>Core Consultants Inc. was founded on core ethics, integrity, innovation and accountability; by following these principles, our experienced team strives to deliver top-tier services. </ion-row>
            <ion-row class="Button"><ion-button routerLink="/tabs/AboutUs">Find Out More</ion-button></ion-row>            
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="Heading" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            Our Services
          </ion-col>
          <ion-col class="Description" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            <ion-row>Core Consultants Inc. was founded on core ethics, integrity, innovation and accountability; by following these principles, our experienced team strives to deliver top-tier services.</ion-row>
            <ion-row class="Button"><ion-button routerLink="/tabs/OurService">Find Out More</ion-button></ion-row>            
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="Heading" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            Contact Us
          </ion-col>
          <ion-col class="Description" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            <ion-row>Contact us to discover how we can optimise your business environment.</ion-row>
            <ion-row  class="Button"><ion-button routerLink="/tabs/ContactUs">Find Out More</ion-button></ion-row>            
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="Heading" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            Our Team
          </ion-col>
          <ion-col class="Description" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            <ion-row>Our hardworking team of credentialed professionals is dedicated to giving our clients individualized attention and excellent service. </ion-row>
            <!-- <ion-row  class="Button"><ion-button routerLink="/tabs/OurTeam">Find Out More</ion-button></ion-row>             -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
  </swiper-container>
  </ion-col>
  <ion-col sizeXl="4" sizeLg="12" sizeMd="12" sizeXs="12">
   <ion-card>
    <ion-card-header>
      <ion-card-title>Latest News</ion-card-title>
    </ion-card-header>
      <ion-list lines="none">
        <div *ngFor="let newsItem of news">
          <ion-item>
            <ion-thumbnail class="thumbnail" slot="start" style="align-self: flex-start;">
            <ion-icon name="newspaper-outline"></ion-icon>
            </ion-thumbnail>
            <ion-label>
            <p class="news-header-text">{{ newsItem.title }}</p>
            <br>
            <p class="news-text">{{ newsItem.description }}</p>
            <a [href]="newsItem.link" target="_blank">Read more</a>
            </ion-label>
          </ion-item>
      </div>
      </ion-list>
  </ion-card>
  </ion-col>
</ion-row>
</ion-content>

<head>
  <title>Home Page</title>
  <meta name="description" content="Core Consultants Inc. was founded on core ethics, integrity, innovation and accountability; by following these principles, our experienced team strives to deliver top-tier services.">
</head>
