<ion-content>
  <swiper-container [loop]="true" [autoplay]="true" [pagination]="{clickable:true, dynamicBullets:true}" [navigation]="true">
    <swiper-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="Heading" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            About Us
          </ion-col>
          <ion-col class="Description" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            <ion-row>Core Consultants Inc. was founded on core ethics, integrity, innovation and accountability; by following these principles, our experienced team strives to deliver top-tier services. </ion-row>
            <ion-row class="Button"><ion-button routerLink="/tabs/AboutUs">Find Out More</ion-button></ion-row>            
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="Heading" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            Our Services
          </ion-col>
          <ion-col class="Description" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            <ion-row>Core Consultants Inc. was founded on core ethics, integrity, innovation and accountability; by following these principles, our experienced team strives to deliver top-tier services.</ion-row>
            <ion-row class="Button"><ion-button routerLink="/tabs/OurService">Find Out More</ion-button></ion-row>            
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="Heading" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            Contact Us
          </ion-col>
          <ion-col class="Description" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            <ion-row>Contact us to discover how we can optimise your business environment.</ion-row>
            <ion-row  class="Button"><ion-button routerLink="/tabs/ContactUs">Find Out More</ion-button></ion-row>            
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="Heading" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            Our Team
          </ion-col>
          <ion-col class="Description" sizeXl="6" sizeLg="12" sizeMd="12" sizeXs="12">
            <ion-row>Our hardworking team of credentialed professionals is dedicated to giving our clients individualized attention and excellent service. </ion-row>
            <!-- <ion-row  class="Button"><ion-button routerLink="/tabs/OurTeam">Find Out More</ion-button></ion-row>             -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
  </swiper-container>
</ion-content>

<head>
  <title>Home Page</title>
  <meta name="description" content="Core Consultants Inc. was founded on core ethics, integrity, innovation and accountability; by following these principles, our experienced team strives to deliver top-tier services.">
</head>
